<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>fsRealm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18C726ED1D02965400D1EF8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C727011D02965400D1EF8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C7270C1D02965400D1EF8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
